/* reset from awsm */
form input[type], form select, form textarea {
    margin-bottom: 0;
}

/* reset from awsm */
form {
    max-width: 400px;
    margin-left: auto;
    margin-right: 0;
}

/* reset from awsm */
div {
    margin: 0;
    padding: 0;
}

body {
    max-width: 800px;
    margin: 0 auto;
    height: 100vh;
    display: flex;
    flex-direction: column;
    justify-content: space-between;
}


form input[type=password], form input[type=text] {
  margin-bottom: 0.25rem;
}

#content > * {
    margin: 2rem 0;
}

.right {
    text-align: right;
}

.light {
    color: #00000082;
}

.mono {
    font-family: monospace;
}

.pre {
    white-space: pre;
}

.box {
    background-color: #0000000a;
}

.box-title {
    margin-bottom: 0.5rem;
}

.padded {
    padding: 1rem;
}

#header {
    border-bottom: 1px solid;
    padding-top: 3rem;
}

#header img {
    max-width: 580px;
    position: relative;
}

#footer {
    border-top: 1px solid;
    text-align: right;
}

#flashes {
    background-color: #fd1b1b1c;
}

#login-form {
    display: flex;
    flex-direction: column;
    align-items: flex-end;
}

#login-form input[type=submit] {
    width: 8rem;
}
