[Unit]
Description=Gonic service
ConditionPathExists=/var/gonic/bin/gonic
After=network.target

[Service]
Type=simple
User=gonic
Group=gonic
LimitNOFILE=1024

Restart=on-failure
RestartSec=10

WorkingDirectory=/var/gonic/
ExecStart=/var/gonic/bin/gonic -config-path /var/gonic/config

# make sure log directory exists and owned by syslog
PermissionsStartOnly=true
ExecStartPre=/bin/mkdir -p /var/log/gonic
ExecStartPre=/bin/chown syslog:adm /var/log/gonic
ExecStartPre=/bin/chmod 755 /var/log/gonic
StandardOutput=syslog
StandardError=syslog
SyslogIdentifier=sleepservice

[Install]
WantedBy=multi-user.target
