{{ define "layout" }}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>gonic</title>
        {{ template "head" }}
    </head>
    <body>
        <div id="content">
            <div id="header">
                <img src="{{ path "/admin/static/gonic.png" }}">
            </div>
            {{ range $flash := .Flashes }}
            <div class="padded flash-{{ $flash.Type }}">
                <i class="mdi mdi-alert-circle"></i> {{ $flash.Message }}
            </div>
            {{ end }}
            {{ template "content" . }}
            <div class="side-padded text-right">
                <span class="light">{{ .Version }}</span>
                senan kelly, 2020
                <span class="light">&#124;</span>
                <a href="https://senan.xyz/g/gonic">github</a>
            </div>
        </div>
    </body>
</html>
{{ end }}
