{{ define "layout" }}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>gonic</title>
        {{ template "head" }}
    </head>
    <body>
        <div id="content">
            <div id="header">
                <img src="/admin/static/gonic.png">
            </div>
            {{ if .Flashes }}
            {{ $flash := index .Flashes 0 }}
            <div class="padded flash-{{ $flash.Type }}">
                <i class="mdi mdi-alert-circle"></i> {{ $flash.Message }}
            </div>
            {{ end }}
            {{ template "content" . }}
            <div class="side-padded text-right">
                senan kelly, 2019
                <span class="light">&#124;</span>
                <a href="https://senan.xyz/g/gonic">github</a>
            </div>
        </div>
    </body>
</html>
{{ end }}
