{{ define "title" }}home{{ end }}

{{ define "user" }}
<div class="padded box mono">
    <div class="box-title">
        <u>changing account password</u>
    </div>
    <form action="/admin/change_own_password_do" method="post">
        <input type="password" id="password_one" name="password_one" placeholder="new password">
        <input type="password" id="password_two" name="password_two" placeholder="verify new password">
        <input type="submit" value="change">
    </form>
</div>
{{ end }}
