{{ define "title" }}home{{ end }}

{{ define "user" }}
<div class="padded box mono">
    <div class="box-title">
        <u>stats</u>
    </div>
    <div class="right">
        <span class="pre">artists: {{ printf "%7v" .ArtistCount }}</span><br/>
        <span class="pre">albums: {{ printf "%7v" .AlbumCount }}</span><br/>
        <span class="pre">tracks: {{ printf "%7v" .TrackCount }}</span>
    </div>
</div>
<div class="padded box mono">
    <div class="box-title">
        <u>last.fm</u>
    </div>
    <div class="right">
	{{ if .User.IsAdmin }}
            <a href="/admin/update_lastfm_api_key">update api key</a><br/>
	{{ end }}
	{{ if .CurrentLastFMAPIKey }}
	    {{ if .User.LastFMSession }}
		<span class="light">current status</span> <span class="happy">linked</span> <a href="/admin/unlink_lastfm_do">unlink</a><br/>
	    {{ else }}
		<span class="light">current status</span> <span class="angry">unlinked</span> <a href="https://www.last.fm/api/auth/?api_key={{ .CurrentLastFMAPIKey }}&cb={{ .RequestRoot }}/admin/link_lastfm_do">link</a><br/>
	    {{ end }}
	{{ else if not .User.IsAdmin }}
	    <span class="light">api key not set. please ask your admin to set it</span>
	{{ end }}
    </div>
</div>
<div class="padded box mono">
    {{ if .User.IsAdmin }}
        {{/* admin panel to manage all users */}}
        <div class="box-title">
            <u>users</u>
        </div>
        <div class="right">
        {{ range $user := .AllUsers }}
            <i>{{ $user.Name }}</i> <span class="light">created</span> {{ $user.CreatedAt.Format "Jan 02, 2006" }} <a href="/admin/change_password?user={{ $user.Name }}">change password</a><br/>
        {{ end }}
        <a href="/admin/create_user" class="button">create new</a>
        </div>
    {{ else }}
        {{/* user panel to manage themselves */}}
        <div class="box-title">
            <u>your account</u>
        </div>
        <div class="right">
            <a href="/admin/change_own_password" class="button">change password</a>
        </div>
    {{ end }}
</div>
{{ end }}
