{{ define "title" }}gonic{{ end }}

{{ define "content" }}
<div class="padded box mono">
    <div class="box-title">
        <span><u>please login</u></span>
    </div>
    <form id="login-form" action="/admin/login_do" method="post">
        <input type="text" id="username" name="username" placeholder="username">
        <input type="password" id="password" name="password" placeholder="password">
        <input type="submit" value="login">
    </form>
</div>
{{ end }}
