{{ define "layout" }}
<!doctype html>
<html>
    <head>
        <meta charset="utf-8">
        <title>gonic</title>
        {{ template "head" }}
    </head>
    <body>
        <div>
            <div id="header">
                <img src="/admin/static/images/gonic.png">
            </div>
            <div id="content">
                {{ if .Flashes }}
                {{ $flash := index .Flashes 0 }}
                <div class="padded mono flash-{{ $flash.Type }}">
                    <i class="mdi mdi-alert-circle"></i> {{ $flash.Message }}
                </div>
                {{ end }}
                {{ template "content" . }}
            </div>
        </div>
        <div id="footer" class="padded mono text-right">
            senan kelly, 2019
            <span class="light">&#124;</span>
            <a href="https://github.com/sentriz/gonic">github</a>
        </div>
    </body>
</html>
{{ end }}
