{{ define "user" }}
<div class="padded box">
    <div class="box-title">
        <i class="mdi mdi-account-remove"></i> deleting user {{ .SelectedUser.Name }}
    </div>
    <div class="text-right">
        are you sure?<br/>
        <span class="light">their plays, starred, etc. will also be deleted</span>
    </div>
    <form class="block" action="{{ printf "/admin/delete_user_do?user=%s" .SelectedUser.Name | path }}" method="post">
        <input type="submit" value="yes">
    </form>
</div>
{{ end }}
