{{ define "user" }}
<div class="padded box">
    <div class="box-title">
        <i class="mdi mdi-chart-arc"></i> stats
    </div>
    <div class="block-right">
        <table id="stats" class="text-right">
            <tr>
                <td>artists:</td> <td>{{ .ArtistCount }}</td>
            </tr>
            <tr>
                <td>albums:</td> <td>{{ .AlbumCount }}</td>
            </tr>
            <tr>
                <td>tracks:</td> <td>{{ .TrackCount }}</td>
            </tr>
        </table>
    </div>
</div>
<div class="padded box">
    <div class="box-title">
        <i class="mdi mdi-lastfm"></i> last.fm
    </div>
    <div class="text-right">
        <p class="light">have gonic scrobble to <a href="https://www.last.fm/">last.fm</a> on your behalf</p>
        {{ if .User.IsAdmin }}
            <br/>
            <a href="{{ path "/admin/update_lastfm_api_key" }}">update api key&#8230;</a><br/>
        {{ end }}
        {{ if .CurrentLastFMAPIKey }}
            <br/>
            <span class="light">current status</span>
            {{ if .User.LastFMSession }}
                linked
                <span class="light">&#124;</span>
                <a href="{{ path "/admin/unlink_lastfm_do" }}">unlink</a><br/>
            {{ else }}
                <span class="angry">unlinked</span>
                {{ $cbPath := path "/admin/link_lastfm_do" }}
                {{ $cbURL := printf "%s%s" .RequestRoot $cbPath }}
                <a href="https://www.last.fm/api/auth/?api_key={{ .CurrentLastFMAPIKey }}&cb={{ $cbURL }}">link</a><br/>
            {{ end }}
        {{ else if not .User.IsAdmin }}
            <br/>
            <p class="light">api key not set</p>
            <p class="light">please ask your admin to set it</p>
        {{ end }}
    </div>
</div>
<div class="padded box">
    {{ if .User.IsAdmin }}
        {{/* admin panel to manage all users */}}
        <div class="box-title">
            <i class="mdi mdi-account-multiple"></i> users
        </div>
        <div class="text-right">
        {{ range $user := .AllUsers }}
            <i>{{ $user.Name }}</i>
            <span class="light no-small">{{ $user.CreatedAt | date }}</span>
            <span class="light">&#124;</span>
            <a href="{{ printf "/admin/change_password?user=%s" $user.Name | path }}">change password&#8230;</a>
            <span class="light">&#124;</span>
            {{ if $user.IsAdmin }}
                <span class="light">delete&#8230;</span>
            {{ else }}
                <a href="{{ printf "/admin/delete_user?user=%s" $user.Name | path }}">delete&#8230;</a>
            {{ end }}
            <br/>
        {{ end }}
        <br/>
        <a href="{{ path "/admin/create_user" }}" class="button">create new&#8230;</a>
        </div>
    {{ else }}
        {{/* user panel to manage themselves */}}
        <div class="box-title">
            <i class="mdi mdi-account"></i> your account
        </div>
        <div class="text-right">
            <a href="{{ path "/admin/change_own_password" }}" class="button">change password&#8230;</a>
        </div>
    {{ end }}
</div>
<div class="padded box">
    <div class="box-title">
        <i class="mdi mdi-folder-multiple"></i> recent folders
    </div>
    <div class="block-right text-right">
        {{ if eq (len .RecentFolders) 0 }}
            <span class="light">no folders yet</span>
        {{ end }}
        <table id="recent-folders">
        {{ range $folder := .RecentFolders }}
            <tr>
            <td class="text-right">{{ $folder.RightPath }}</td>
            <td class="no-small"><span class="light" title="{{ $folder.ModifiedAt }}">{{ $folder.ModifiedAt | dateHuman }}</span></td>
            </tr>
        {{ end }}
        </table>
        {{- if not .IsScanning -}}
            <a href="{{ path "/admin/start_scan_do" }}">start scan</a>
            {{- if not .LastScanTime.IsZero -}}
                <br>
                <span class="light" title="{{ .LastScanTime }}">scanned {{ .LastScanTime | dateHuman }}</span>
            {{ end }}
        {{ end }}
    </div>
</div>
<div class="padded box">
    <div class="box-title">
        <i class="mdi mdi-playlist-music"></i> playlists
    </div>
    <div class="block-right text-right">
        {{ if eq (len .Playlists) 0 }}
            <span class="light">no playlists yet</span>
        {{ end }}
        <table id="recent-playlists">
        {{ range $playlist := .Playlists }}
            <tr>
            <td class="text-right">{{ $playlist.Name }}</td>
            <td><span class="light">({{ $playlist.TrackCount }} tracks)</span></td>
            <td class="no-small"><span class="light" title="{{ $playlist.CreatedAt }}">{{ $playlist.CreatedAt | dateHuman }}</span></td>
            </tr>
        {{ end }}
        </table>
        <br/>
        <form
            id="playlist-upload-form"
            enctype="multipart/form-data"
            action="{{ path "/admin/upload_playlist_do" }}"
            method="post"
        >
            <div style="position: relative;">
                <input id="playlist-upload-input" style="position: absolute; opacity: 0;" name="playlist-files" type="file" multiple />
                <input type="button" value="upload m3u8">
            </div>
        </form>
        <script>
            document.getElementById("playlist-upload-input").onchange = (e) => {
                document.getElementById("playlist-upload-form").submit();
            }
        </script>
    </div>
</div>
{{ end }}
