{{ define "user" }}
<div class="padded box">
    <div class="box-title">
        <i class="mdi mdi-key-change"></i> updating last.fm keys
    </div>
    <div class="text-right">
        <span class="light">current key</span> <i>{{ default "not set" .CurrentLastFMAPIKey }}</i><br/>
        <span class="light">current secret</span> <i>{{ default "not set" .CurrentLastFMAPISecret }}</i>
    </div>
    <form action="{{ path "/admin/update_lastfm_api_key_do" }}" method="post">
        <input type="text" id="api_key" name="api_key" placeholder="new key">
        <input type="text" id="secret" name="secret" placeholder="new secret">
        <input type="submit" value="update">
    </form>
</div>
{{ end }}
