{{ define "title" }}home{{ end }}

{{ define "content" }}
<div class="side-padded light right mono">
    welcome {{ .User.Name }}
    &#124;
    <a href="/admin/home">home</a>
    &#124;
    <a href="/admin/logout">logout <i class="mdi mdi-logout-variant"></i></a>
</div>
{{ template "user" . }}
{{ end }}
