{{ define "title" }}home{{ end }}

{{ define "user" }}
<div class="padded box mono">
    <div>
        <span><u>create new user</u></span>
    </div>
    <div class="right">
        <span class="pre">howdy</span><br/>
    </div>
</div>
{{ end }}
