{{ define "user" }}
<div class="padded box">
    <div class="box-title">
        <i class="mdi mdi-account-key"></i> changing {{ .SelectedUser.Name }}'s username
    </div>
    <form class="block" action="{{ printf "/admin/change_username_do?user=%s" .SelectedUser.Name | path }}" method="post">
        <input type="text" id="username" name="username" placeholder="new username">
        <input type="submit" value="change">
    </form>
</div>
{{ end }}
