{{ define "user" }}
<div class="padded box">
    <div class="box-title">
        <i class="mdi mdi-account-key"></i> changing account avatar
    </div>
    <form enctype="multipart/form-data" class="block" action="{{ path "/admin/change_own_avatar_do" }}" method="post">
        <input type="file" id="avatar" name="avatar">
        <input type="submit" value="change">
    </form>
</div>
{{ end }}
