{{ define "user" }}
<div class="padded box">
    <div class="box-title">
        <i class="mdi mdi-account-key"></i> changing {{ .SelectedUser.Name }}'s avatar
    </div>
    <form class="block" action="{{ printf "/admin/delete_avatar_do?user=%s" .SelectedUser.Name | path }}" method="post">
        <input type="submit" value="delete avatar" style="color: red;">
    </form>
    <form enctype="multipart/form-data" class="block" action="{{ printf "/admin/change_avatar_do?user=%s" .SelectedUser.Name | path }}" method="post">
        <p><input type="file" accept="image/jpeg image/png image/gif" id="avatar" name="avatar" onchange="showAvatar(event)" hidden></p>
        <p><label style="outline: 1px solid #ccc;" type="button" for="avatar">choose file</label>
        <p><img id="new_avatar" width="64" height="64" src=""/></p>
        <p><input type="submit" value="change"></p>

        <script>
            {{if ne (len .SelectedUser.Avatar) 0}}
                document.getElementById("new_avatar").src = "data:image/jpg;base64," + {{ .SelectedUser.Avatar }}
            {{end}}
            var showAvatar = function(event) {
        	    var image = document.getElementById('new_avatar');
	            image.src = URL.createObjectURL(event.target.files[0]);
            };
        </script>
    </form>
</div>
{{ end }}
