{{ define "content" }}
<div class="padded box">
    <div class="box-title">
        <i class="mdi mdi-login-variant"></i> login
    </div>
    <form class="block" action="{{ path "/admin/login_do" }}" method="post">
        <input type="text" id="username" name="username" placeholder="username">
        <input type="password" id="password" name="password" placeholder="password">
        <input type="submit" value="login">
    </form>
</div>
{{ end }}
