{{ define "user" }}
<div class="padded box">
    <div class="box-title">
        <i class="mdi mdi-key-change"></i> updating last.fm keys
    </div>
    <div class="box-description text-light">
        <p>you can get an api key <a href="https://www.last.fm/api/account/create" target="_blank">here</a> (note: only the "application name" field is required)</p>
    </div>
    <div class="text-right">
        <p><span class="text-light">current key</span> <i>{{ default "not set" .CurrentLastFMAPIKey }}</i></p>
        <p><span class="text-light">current secret</span> <i>{{ default "not set" .CurrentLastFMAPISecret }}</i></p>
    </div>
    <form class="block" action="{{ path "/admin/update_lastfm_api_key_do" }}" method="post">
        <input type="text" id="api_key" name="api_key" placeholder="new key">
        <input type="text" id="secret" name="secret" placeholder="new secret">
        <input type="submit" value="update">
    </form>
</div>
{{ end }}
