{{ component "layout" . }}
{{ component "layout_user" . }}

{{ component "block" (props .
    "Icon" "user"
    "Name" (printf "changing %s's password" .SelectedUser.Name)
) }}
    <form class="flex flex-col gap-2 items-end" action="{{ printf "/admin/change_password_do?user=%s" .SelectedUser.Name | path }}" method="post">
        <input type="password" id="password_one" name="password_one" placeholder="new password">
        <input type="password" id="password_two" name="password_two" placeholder="verify new password">
        <input type="submit" value="change">
    </form>
{{ end }}

{{ end }}
{{ end }}
