{{ component "layout" . }}
{{ component "layout_user" . }}

{{ component "block" (props .
    "Icon" "user"
    "Name" (printf "changing %s's username" .SelectedUser.Name)
) }}
    <form class="flex flex-col md:flex-row gap-2 items-end" action="{{ printf "/admin/change_username_do?user=%s" .SelectedUser.Name | path }}" method="post">
        <input type="text" id="username" name="username" placeholder="new username">
        <input type="submit" value="change">
    </form>
{{ end }}

{{ end }}
{{ end }}
