{{ component "layout" . }}
{{ if .Props.PasswordAuthEnabled }}
{{ component "block" (props .
    "Icon" "user"
    "Name" "login"
    "Desc" "if you are logging in as an admin, the default credentials can be found in the readme"
) }}
    <form class="flex flex-col md:flex-row gap-2 items-end" action="{{ path "/admin/login_do" }}" method="post">
        <input class="text-center" type="text" id="username" name="username" placeholder="username">
        <input class="text-center" type="password" id="password" name="password" placeholder="password">
        <input type="submit" value="login">
    </form>
{{ end }}
{{ else }}
{{ component "block" (props .
    "Icon" "lock"
    "Name" "authentication disabled"
    "Desc" "password authentication is not available on this server"
) }}
    <div class="flex flex-col gap-4 items-center text-center">
        {{ if eq .Props.AuthMethod "oidc" }}
        <p class="text-lg">
            This server uses OIDC authentication.
        </p>
        <p class="text-sm text-gray-600">
            You will be redirected to the authentication provider when accessing protected pages.
        </p>
        {{ else if eq .Props.AuthMethod "oidc-forward" }}
        <p class="text-lg">
            This server uses OIDC forward authentication.
        </p>
        <p class="text-sm text-gray-600">
            Authentication is handled by an external system. Please ensure your JWT token is included in the Authorization header.
        </p>
        {{ end }}
    </div>
{{ end }}
{{ end }}
{{ end }}
