:root {
  --size: 13px;
}

@media only screen and (max-width: 780px) {
  :root {
    --size: 11px;
  }
}

*,
span,
div,
i,
input,
body,
html {
  font-family: monospace;
  font-size: var(--size);
}

body {
  max-width: 780px;
  margin: 0 auto;
  overflow-y: scroll;
}

input[type],
select,
textarea {
  border-radius: 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 1px 0;
  padding: 0;
  height: calc(var(--size) * 1.5);
  vertical-align: middle;
}

input[type] {
  width: calc(var(--size) * 8);
  background-color: white;
  cursor: pointer;
}

input[type=text],
input[type=password] {
    width: 100%;
}

form {
  display: inline;
}

form.block {
  max-width: 400px;
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

form > * {
  width: 100%;
}

table {
  overflow: hidden;
  white-space: nowrap;
}

table td {
  padding-left: calc(var(--size) * 0.5);
}

a,
a:visited {
  color: #0064c1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#content > * {
  margin: calc(var(--size) * 1.5);
}

#header {
  border-bottom: 2px solid #0000001a;
}

#header img {
  width: 60%;
  display: block;
  margin: 0 auto;
  height: auto;
}

.flash-warning {
  background-color: #fd1b1b1c;
  border-right: 2px solid #fd1b1b1c;
  border-bottom: 2px solid #fd1b1b1c;
}

.flash-normal {
  background-color: #15ff5424;
  border-right: 2px solid #15ff5424;
  border-bottom: 2px solid #15ff5424;
}

.box {
  background-color: #00000005;
  border-right: 2px solid #0000000c;
  border-bottom: 2px solid #0000000c;
}

@media only screen and (max-width: 780px) {
  .no-small {
    display: none;
  }
}

.text-right {
  text-align: right;
}

.block-right > * {
  margin-left: auto;
}

.padded {
  padding: var(--size);
}

.side-padded {
  padding: 0 var(--size);
}

.angry {
  background-color: #f4433669;
}

.light {
  color: #00000082;
}

.emp {
  font-style: italic;
}
