:root {
  --size: 13px;
  --width-body: 750px;
  --width-box-description: 510px;
  --width-form: 400px;
}

@media only screen and (max-width: 780px) {
  :root {
    --size: 11px;
  }
}

*,
body,
button,
div,
i,
input[type],
select,
span,
html {
  font-family: monospace;
  font-size: var(--size);
}

body {
  max-width: var(--width-body);
  margin: 0 auto;
  overflow-y: scroll;
}

input[type],
select,
button,
textarea {
  border-radius: 0;
  border: 1px solid #ccc;
  box-sizing: border-box;
  margin: 1px 0;
  padding: 0;
  height: calc(var(--size) * 1.25);
  vertical-align: bottom;
}

input[type] {
  width: calc(var(--size) * 9);
  background-color: white;
  cursor: pointer;
}

input[type="text"],
input[type="password"] {
  width: 100%;
}

form {
  display: inline;
}

form.block {
  max-width: var(--width-form);
  margin-left: auto;
  margin-right: 0;
  display: flex;
  flex-direction: column;
  align-items: flex-end;
  text-align: right;
}

form > * {
  width: 100%;
}

table {
  white-space: nowrap;
}

table td {
  padding-left: calc(var(--size) * 0.5);
}

table td.text-trunc {
  text-overflow: ellipsis;
  overflow: hidden;
  max-width: 0;
}

a,
a:visited {
  color: #0064c1;
  text-decoration: none;
}

a:hover {
  text-decoration: underline;
}

#content > * {
  margin: calc(var(--size) * 1.5);
}

#header {
  border-bottom: 2px solid #0000001a;
}

#header img {
  width: 60%;
  display: block;
  margin: 0 auto;
  height: auto;
}

.flash-warning {
  background-color: #fd1b1b1c;
  border-right: 2px solid #fd1b1b1c;
  border-bottom: 2px solid #fd1b1b1c;
}

.flash-normal {
  background-color: #15ff5424;
  border-right: 2px solid #15ff5424;
  border-bottom: 2px solid #15ff5424;
}

.box {
  background-color: #00000005;
  border-right: 2px solid #0000000c;
  border-bottom: 2px solid #0000000c;
}

.box-description {
  max-width: var(--width-box-description);
}

@media only screen and (max-width: 780px) {
  .no-small {
    display: none;
  }
}

.text-right {
  text-align: right;
}

.text-light {
  color: #00000082;
}

.text-emp {
  font-style: italic;
  color: #444;
}

.block-right > * {
  margin-left: auto;
}

.padded {
  padding: var(--size);
}

.padded-side {
  padding: 0 var(--size);
}

.angry {
  background-color: #f4433669;
}
