{{ define "title" }}home{{ end }}

{{ define "content" }}
<div class="light right">
    <span>welcome <u>{{ .User.Name }}</u> &#124; <a href="/admin/logout">logout</a></span>
</div>
{{ template "user" . }}
{{ end }}
