{{ define "box" }}
<div class="padded box mono">
    <div class="box-title">
        <i class="mdi mdi-chart-arc"></i> {{ .Title }}
    </div>
    <div class="block-right">
        {{ .Title }}
    </div>
</div>
{{ end }}
