{{ define "user" }}
<div class="padded box mono">
    <div class="box-title">
        <i class="mdi mdi-account-key"></i> changing {{ .SelectedUser.Name }}'s password
    </div>
    <form action="/admin/change_password_do?user={{ .SelectedUser.Name }}" method="post">
        <input type="password" id="password_one" name="password_one" placeholder="new password">
        <input type="password" id="password_two" name="password_two" placeholder="verify new password">
        <input type="submit" value="change">
    </form>
</div>
{{ end }}
