@tailwind base;

form,
input,
select {
  all: unset;
  appearance: none;
  display: block;
}

a {
  text-decoration: none;
}

@tailwind components;
@tailwind utilities;

a {
  @apply text-blue-500;
}

input[type],
select {
  @apply h-6 px-2 leading-[1.5] w-full min-w-[3rem] md:min-w-[8rem] box-border bg-white text-gray-600 shadow-none border-0 outline outline-1 outline-gray-400/50 cursor-pointer overflow-hidden whitespace-nowrap text-ellipsis;
}

input[type="button"],
input[type="submit"] {
  @apply text-center w-[6rem] md:w-[8rem] font-bold;
}

.ellipsis {
  @apply max-w-full overflow-hidden text-ellipsis whitespace-nowrap;
}
