name: go
on:
  push:
    branches:
      - master
      - develop
  pull_request:
jobs:
  test:
    runs-on: ubuntu-latest
    steps:
      - name: Setup Go
        uses: actions/setup-go@v1
        with:
          go-version: 1.16.x
      - name: Checkout code into the Go module directory
        uses: actions/checkout@v1
      - name: Install dependencies
        run: |
          sudo apt update
          sudo apt install build-essential git sqlite libtag1-dev ffmpeg libasound-dev
      - name: Lint
        uses: golangci/golangci-lint-action@v2
        with:
          version: v1.33
      - name: Update version.go
        run: |
          _version=v$(cat version.txt)
          sed -Ei "s/VERSION = \"v0.0.0\"/VERSION = \"${_version}-nightly\"/g" version/version.go
          ./_do_gen_handler_tests
      - name: Test
        run: go test ./...
