name: go
on:
  push:
    branches:
      - master
  pull_request:
jobs:
  test:
    strategy:
      matrix:
        go-version: [1.12.x, 1.13.x, 1.14.x]
        platform: [ubuntu-latest]
    runs-on: ${{ matrix.platform }}
    steps:
    - name: Setup Go ${{ matrix.go-version }}
      uses: actions/setup-go@v1
      with:
        go-version: ${{ matrix.go-version }}
    - name: Checkout code into the Go module directory
      uses: actions/checkout@v1
    - name: Install dependencies
      run: |
        sudo apt update
        sudo apt install build-essential git sqlite libtag1-dev ffmpeg libasound-dev
    - name: Lint
      uses: golangci/golangci-lint-action@v1
      with:
        version: v1.28
    - name: Test
      run: go test ./...
